@page
@model UserModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @foreach (var item in Model.model) 
    {
        <div>User: @item.UserName</div>
        <div>Email: @item.Email</div>
            @foreach (var role in item.Roles)
        {
            <div>Role: @role</div>
        }
        <br />
    }
</div>
